**/.DS_Store
**/node_modules

# Vim/Neovim swap & temp files
*.swp
*.swo
*.swn
*~

# hermes-agent
.hermes/*
!.hermes/config.yaml
!.hermes/SOUL.md

# env
.env
*.env
**/.env
**/*.env
!.env.example
!**/.env.example
!*.env.example
!**/*.env.example
.envrc
